# Será necessário mudar a URL de acordo com o local que o arquivo for executado:

# Não funcionou no meu computador:
# - Emulador Android: http://10.0.2.2:8080

# Não tenho o simulador:
# - Simulador iOS: http://localhost:8080

# Não tenho celular com Android:
# - Celular físico (Expo Go): http://<IP-da-sua-máquina-na-rede>:8080

EXPO_PUBLIC_API_URL=http://localhost:8080
